@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.button a{
    text-decoration: none;
    color: white;
}

.card-img{
    height: 720px;
}

.title{
    text-align: center;
}

.title h5{
    margin-top: 6%;
    margin-bottom: 4%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 500%;
}

.card-text{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 6%;
}

.card-text a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.card-text a:hover{
    color: gold;
}

/* button */
.button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #ffff;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: .5s;
}

.buttonM {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(221, 204, 50);
  border-radius: 12px;
  color: rgb(221, 204, 50);
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px auto;
  cursor: pointer;
  transition: .5s;
  width: 90%;
}

/* .btnDelet{
  border: 2px solid rgb(221, 50, 50);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(221, 50, 50);
}

.btnEdit{
  border: 2px solid rgb(50, 61, 221);
} */

.buttonM:hover{
    background-color: rgb(221, 204, 50);
}
.buttonM a:hover{
    color: white;
}
.button:hover{
    background-color: rgb(221, 204, 50);
}
.btnDelet:hover{
    background-color: rgb(221, 50, 50);
}
.btnEdit:hover{
    background-color: rgb(50, 61, 221);
}

.all:hover{
    background-color: rgba(192, 192, 192, 0.7) ;
    border: 2px solid gold;
    border-radius: 12px;
}

.all a:hover{
    color: rgb(255, 225, 52);
    font-weight: bold;
}

.btngrup{
    padding: 0 4px ;
}

/* gallery */
.conten1{
    display: flex;

}

.conten1 .desc {
    width: 50%;
    margin: 12% 10%;
}

.desc h1{
    font-family: 'Times New Roman', Times, serif;
    color: gold;
    border-bottom: 1px solid rgb(46, 46, 46);
}



.conten1 .gallery{
    width: 50%;
    margin: 10% 8%;
}

.gallery img{
    margin-bottom: 4px;
}

.conten2{
    background-color: rgb(53, 52, 52);
    color: gold ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.conten2 h1{
    font-size: 54px ;
    font-weight: bold;
    color: rgb(219, 174, 60);
    padding: 4% 0% ;
}

.conten2 p{
    padding: 0 10% 2% 10% ;
    color: #eeee;
}

.conten2 img{
    padding-bottom: 3% ;
}

.conten2 h4{
    padding-bottom: 4%;
}

.conten3{
    background-image: url("img/bg5.png") ;
    background-size: cover;
    margin-top: -1%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
            grid-template-areas:
            'kotak1 kotak2'
            'kotak3 kotak4'
            'kotak5 kotak6';
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 8%;
}

 .item{
    border: 2px solid #eeee ;
}

.kotak1{grid-area: kotak1 ;}
.kotak2{grid-area: kotak2 ;}
.kotak3{grid-area: kotak3 ;}
.kotak4{grid-area: kotak4 ;}
.kotak5{grid-area: kotak5 ;}
.kotak6{grid-area: kotak6 ;}
.kotak7{grid-area: kotak7 ;}
.kotak8{grid-area: kotak8 ;}

.grid2{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
            grid-template-areas:
            'kotak1 kotak2 kotak3 kotak4'
            'kotak5 kotak6 kotak7 kotak8';
    row-gap: 28px;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 8%;
}

.item2{
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.btn{
    width: 100px;
    margin: 10px auto 20px auto;
}

.conten4 h1{
    font-size: 54px ;
    font-weight: bold;
    color: rgb(219, 174, 60);
    margin: 10px;
    text-align: center;
}

.conten4 a{
    text-decoration: none;
    font-style: italic;
    color: rgba(102, 102, 102, 0.7);
    display: inline;
}


.conten5{
    background-color: #eeee;
}
.conten5 h2{
    /* font-size: 54px ; */
    font-weight: bold;
    color: rgb(219, 174, 60);
    margin: 0 20px;
    text-align: center;
    padding: 40px 0 ;
}

.conten6{
    background-color:  rgba(51, 47, 47, 0.933) ;
    color: rgb(139, 139, 139);
}

.item3{
    color: rgba(204, 204, 204, 0.933);
}

.conten6  h3{
    font-weight: bold;
    color: rgb(219, 174, 60);
    margin: 0 20px;
    text-align: center;
    padding: 40px 0 20px 0 ;
}

.conten6 hr{
    height: 4px;
    color: rgba(204, 204, 204, 0.933);
}

ul, li{
    list-style-type: none;
}


.conten6 .ket{
    display: flex;
}

.conten6 li{
    display: flex;
}

.conten6 li:nth-child(1){
    margin-top: 20px;
}


li p{
    margin-left: 10px;
}

iframe{
    margin-top: 40px;
    margin-left: 80px;
    margin-bottom: 120px;
}

.conten7{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px 0 4px 0 ;
}

/* Navbar */
nav{
    background-color: rgb(41, 41, 41);
}

.logo{
    display: flex;
    margin-left: 5%;
}

.logo h5{
    margin: 5px;
    font-family: 'Sansita Swashed', cursive;
    color: gold;
}

.link{
    margin-left: 28%;
}

.link a{
    text-decoration: none;
    padding: 10px;
    color: white;
}

.link a:hover{
    color: rgb(219, 174, 60) ;
}

/* seating */

.grdset{
    margin-left: 6% ;
}

/* detail item */

.detail{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    /* border-bottom : 3px solid rgba(0, 0, 0, .5) ; */
}

section{
    padding: 28px;
    font-size: 18px;
    margin: 8px 28px ;
    line-height: 150% ;
}

/* login */

.login{
    display: flex;
    flex-direction: column;
    margin: auto;
    /* width: 40%; */
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: white;
    padding: 40px;
}

.login form{
    display: flex;
    flex-direction: column;
}

.login form input{
    outline: none;
    border: none;
    height: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, .7);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5) inset;
    font-size: 17px;
    padding: 0 10px;
    margin: 15px 0;
    letter-spacing: 1px;
    border-radius: 15px;
}

.login input:last-child{
    width: 110%;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, .7);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5) inset;
    font-size: 12px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 50px;

}

.login input:last-child:hover{
    letter-spacing: 4px;
    box-shadow: 0 0 5px rgba(255, 255, 255, .5) inset;
}


